body {
	font-family: Tahoma;
	font-size: .90em;	
}

#container {
	width: 900px;
	margin: auto auto;
}

#container > footer {
	line-height: 40px;
	padding: 0px 20px;
	font-size: .75em;
	font-weight: 700;
}

.header h1 {
	font-size: 3.0em;
	font-weight: 700;
	padding: 40px 0px 40px 20px;
	margin: 10px 0px 0px 0px;
}

.navMenu > ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 40px;	
}

.navMenu > ul li {
	float: left;
}

.navMenu > ul li a {
	display: block;
	line-height: 40px;
	text-decoration: none;
	padding: 0px 25px;
	font-weight: 700;
	-webkit-transition: background 0.6s linear;
	-moz-transition: background 0.6s linear;
	-ms-transition: background 0.6s linear;
	-o-transition: background 0.6s linear;
	transition: background 0.6s linear;
}

.navMenu > ul li a:hover {

}

.navMenu a:hover ~
ul, .navMenu li:hover ul, .navMenu ul ul:hover {
	display: block;
}

.navMenu > ul li ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: absolute;
	display: none;
}

.navMenu > ul li ul li {
	float: none;
}

.navMenu > ul li ul li a {
	line-height: 40px;
	text-decoration: none;
	padding: 0px 20px;
	font-weight: 700;
	-webkit-transition: background 0.6s linear;
	-moz-transition: background 0.6s linear;
	-ms-transition: background 0.6s linear;
	-o-transition: background 0.6s linear;
	transition: background 0.6s linear;
}

.hide {
	visibility: hidden
}

#myTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#myTable thead th.rounded-company
{
	background: #b9c9fe url('table-images/left.png') left -1px no-repeat;
}
#myTable thead th.rounded-q4
{
	background: #b9c9fe url('table-images/right.png') right -1px no-repeat;
}
#myTable th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}
#myTable td
{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}
#myTable tfoot td.rounded-foot-left
{
	background: #e8edff url('table-images/botleft.png') left bottom no-repeat;
}
#myTable tfoot td.rounded-foot-right
{
	background: #e8edff url('table-images/botright.png') right bottom no-repeat;
}
#myTable tbody tr:hover td
{
	background: #d0dafd;
}
#myTable th:hover {
	cursor: pointer;
}
